.topic-list {

  .topic-post {

    .topic-avatar, .topic-body {
      border-top: none 0;
    }

  }

  > tbody > tr.topic-list-item.unread {
    border-bottom: 0 none;
  }

}

.boxed {

  > .topic-body {
    padding: 0;

    > .regular {
      margin-top: 0;
    }
  }

}

.unread-post > td {
  padding-top: 0;
}
