.topic-list {

  .topic-post {

    .topic-avatar, .topic-body {
      border-top: none 0;
    }

  }

  > tbody > tr.topic-list-item.unread {
    border-top: 2px solid dark-light-diff($primary, $secondary, 90%, -75%);
    border-bottom: 0 none;

    a.title {
      font-weight: bold;
    }
  }

  > tbody > tr.topic-list-item.unread:first-of-type {
    border-top: 4px solid dark-light-diff($primary, $secondary, 90%, -75%);
  }

}

.boxed {

  > .topic-body {
    padding: 0;

    > .regular {
      margin-top: 0;
    }
  }

}

.unread-post > td {
  padding-top: 0;
}
